<!DOCTYPE html>
<html lang="en">
    <head>

        <!-- script type="text/javascript"
            src="/static/vendor/jQuery/js/jquery-2.2.2.min.js"></script -->

        <!-- AngularJS -->
        <script type="text/javascript" src="/static/vendor/angular/js/angular.min.js"></script>
        <script type="text/javascript" src="/static/vendor/angular/js/angular-route.min.js"></script>
        <script type="text/javascript" src="/static/vendor/angular/js/angular-resource.min.js"></script>
        <script type="text/javascript" src="/static/vendor/angular/js/angular-animate.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/vendor/angular/css/angular-csp.css">

        <!-- Bootstrap -->
        <script type="text/javascript" src="/static/vendor/bootstrap/js/ui-bootstrap-custom-1.2.5.min.js"></script>
        <script type="text/javascript" src="/static/vendor/bootstrap/js/ui-bootstrap-custom-tpls-1.2.5.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/vendor/bootstrap/css/ui-bootstrap-custom-1.2.5-csp.css">
        <link rel="stylesheet" type="text/css" href="/static/vendor/bootstrap/css/bootstrap.min.css">

        <!-- Application Specific -->
        <link rel="stylesheet" href="{{ url_for('web.static', filename='css/site.css') }}">
        <script src="{{ url_for('web.static', filename='js/app.js') }}"></script>
        <script src="{{ url_for('web.static', filename='js/controllers.js') }}"></script>
        <script src="{{ url_for('web.static', filename='js/api-service.js') }}"></script>
    </head>

    <body ng-app="myapp" ng-controller='rootCtrl'>
        <div class='container'>
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">WebSkel2</a>
                    </div>
                    <div class="collapse navbar-collapse" id="nv-main-collapse">
                        <ul class="nav navbar-nav">
                            <li ng-class="{active: active_page=='home'}">
                                <a href ng-click="go('/home');">Home</a>
                            </li>
                            <li ng-class="{active: active_page=='about'}">
                                <a href ng-click="go('/about');">About</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div ng-view></div>
        </div>
    </body>

</html>
